.App {
  text-align: center;
  background-color: rgb(249, 153, 0);
  position: relative;
}

.app {
  background-image: url(./img/firebase.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 1200px;
  position: absolute;
  top: 0;
}
